Repository skyclouds2001/springboot-template-sky, changes with the labels that .github/labeler.yml gives for each.
All labels: system, source, test

chore: remove useless dependencies
  pom.xml
Labels: system

chore: upgrade dependencies
  pom.xml
Labels: system

chore: migrate for myabtis plus
  pom.xml
Labels: system

fix: configuration for MyBatis Plus
  src/main/java/org/sky/fly/config/MyBatisPlusConfig.java
Labels: source

perf: remove public from bean method
  src/main/java/org/sky/fly/config/Knife4jConfig.java
  src/main/java/org/sky/fly/config/MyBatisPlusConfig.java
Labels: source

build: update coderabbit config
  .coderabbit.yaml
Labels: system

fix version
  src/main/java/org/sky/fly/config/Knife4jConfig.java
Labels: source

feat: release v1.6.0
  pom.xml
  src/main/java/org/sky/fly/config/MyBatisPlusConfig.java
Labels: system, source

fix: NonNull warn report
  src/main/java/org/sky/fly/config/WebMvcConfig.java
Labels: source

fix: migrate deprecated method the new method
  src/test/java/org/sky/fly/CityMapperTest.java
Labels: test

ci: remove useless permission
  .github/workflows/new-contributor.yml
Labels: system

build: add codeowners file
  .github/CODEOWNERS
Labels: system

build: add codeowners file
  .github/CODEOWNERS
Labels: system

fix: migrate deprecated method the new method
  src/test/java/org/sky/fly/CityMapperTest.java
Labels: test

fix: NonNull warn report
  src/main/java/org/sky/fly/config/WebMvcConfig.java
Labels: source

ci: remove useless permission
  .github/workflows/new-contributor.yml
Labels: system

build: upgrade java version
  Dockerfile
  pom.xml
Labels: system

build: upgrade java version
  Dockerfile
  pom.xml
Labels: system

build: update dependabot config
  .github/dependabot.yml
Labels: system

build: update dependabot config
  .github/dependabot.yml
Labels: system

feat: Release v1.7.0
  pom.xml
Labels: system

feat: Release v1.7.0
  pom.xml
Labels: system

.github/labeler.yml:

system:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - '*'

source:
  - changed-files:
    - any-glob-to-any-file:
      - src/main/**

test:
  - changed-files:
    - any-glob-to-any-file:
      - src/test/**
